.nav {
  display: flex;
  justify-content: center;


}

.nav li {
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.app {
  display: flex;
  justify-content: center;

}

.Menu li {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;


}

.todo {
  display: flex;
  justify-content: center;

}

.light-mode {
  background-color: #ffffff;
  color: #000000;

}

.dark-mode {
  background-color: #333333;
  color: #ffffff;

}

.theme {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;


}

.theme:hover {
  opacity: 0.8;
}

.table {
  border: 1px solid black;
}